@* whatamidoing Template File *@
@main("What Am I Doing") {
 
}{
     
     <div style="text-align: center;">     
        <br/>
        <p>
        
        <div class="hero-unit">
        <p>Welcome to whatamidoing the app that allows you to share moments at  
        the time of experience.</p>
        
        <p>

After downloading the iPhone application Enter an email address, a password, firstname, lastname and you can start sharing moments.
        <p>
        <p>
Once you start recording, you can then send emails to friends and foe and then they can see what you are seeing.
	   </p>
	  </div>
	  </div>
}