@* whatamidoing Template File *@ 
@(myForm: Form[User]) 

@import models.User
@import util.helper.MyHelper._

@main("(WAID) What Am I Doing ?") {

 }{

 <div style="text-align: center;">
   <br />
   <p>
     <div class="row">
       <div class="col-md-8 col-md-offset-2">
	 <div class="hero-unit">
	   <p>Welcome to WAID (What Am I Doing) the app that allows you to share
	     moments at the time of experience.</p>

	   <p>After downloading the Android <a href="https://play.google.com/store/apps/details?id=com.waid"> (WAID) What Am I Doing ?</a> application Enter an email
	     address, a password, firstname, lastname and you can start sharing
	     moments.
	   <p>
	   <p>
	     If some one has already shared a stream with you then you were automatically registered and you should have received your password in an email. Click on here to  <a href="@routes.AdminController.forgottenPassword"> Request a new password</a>
	   </p>
	 </div>
       </div>

      <div class="col-md-4 col-md-offset-2">
          <div class="well">
      <p class="lead">
                 <p>Description of Actions:</p>
   
<ul style="text-align:left;">
<li><strong>Start Sharing</strong><small>&nbsp;&nbsp;This is used to initiate and stop a live stream.</small></li>
<li><strong>Start Camera</strong><small>&nbsp;&nbsp;This is used to start the camera</small></li>
<li><strong>Send Location</strong><small>&nbsp;&nbsp;This is used to transmit you current location. Viewers of your stream
                  will be able to see where you are on a map.</small></li>
<li><strong>Whoes Watching</strong><small>&nbsp;&nbsp;This will return information about those you have invited to view your stream</small></li>
</p>
        </div>
              <hr/>
             <div class="well">
                   <p>Usage:</p>

             <ul style="text-align:left;">
  <li><small>Click on the "Start Sharing" and the "Start Camera"</small></li>
 <li><small>On the status bar you should see</small><img src="/assets/images/ic_cable_connect.png" /> </li>
  <li><small>When all the buttons are  enabled you are ready to invite people to view your stream.</small></li>
  <li><small>You can send an email, post on facebook or tweet on twitter. Using the icons on the menu bar</small></li>
  <li><small>Once you stop sharing then the stream is no longer active.</small></li>
  <li><small>If you start sharing again you will need to re-invite so that they can view the new live strem</small></li>
</ul>
	  </div>
       </div>
       <div class="col-md-4">
	 <div class="well">
	   <div class="page-header">
	     <h1> <small>Login to view activity</small></h1>
	   </div>
	   @helper.form(action = routes.AdminController.login, 'class->"form-horizontal",'role -> "form") {
	   @helper.inputText(myForm("Email"),'id -> "userName")
	   @helper.inputPassword(myForm("password"))

	   <input type="submit" class="btn btn-lg" value='@play.api.i18n.Messages("login.submit.button")'> <a href="@routes.AdminController.forgottenPassword">Forgotten password</a>
	   }

	 </div>
       </div>

     </div>



 </div>
 }
