@* whatamidoing Template File *@
@(stream: String)
@main("(WAID) What Am I Doing ?") {


<script src="@routes.Assets.at("javascripts/jwplayer/HLSprovider/test/jwplayer6/jwplayer.js")"></script>

}{
	<div class="span12">
	 <div  class="span3">&nbsp;</div>
     <div class="span6">
      &nbsp;
      &nbsp;


<div id="message"></div>
<div id="player">Loading video</div>

<script>


if( /Android/i.test(navigator.userAgent) ) {
    $("#player").empty();
    $("#player").append('<a  href="http://www.whatamidoing.info/hlsapp/@stream">Start Watching Live Stream</a>');
}
if( /webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
    $("#player").empty();
    $("#player").append('<video  src="http://www.whatamidoing.info/hlsapp/@stream" height="300" width="400"></video>');
} else {
    jwplayer("player").setup({
     playlist: [{
       // file is the url to m3u8 file
       file:'http://www.whatamidoing.info/hlsapp/@stream',
       provider: 'http://www.whatamidoing.info/hlsapp/jwplayer/HLSprovider/test/jwplayer6/HLSProvider6.swf',
       type:'hls'
      }],
      width: 640,
      height: 480,
      primary: "flash"
    });
}
</script>

     <div id="video-desktop">
	 </div>

	  </div>
	  <div class="span3">&nbsp;</div>
    </div>
}
