@* whatamidoing Template File *@
@(stream: String)
@main("What Am I Doing") {
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jwplayer/jwplayer.js")"></script>
	<script type="text/javascript">jwplayer.key="DdoUgqs9Nb+GfdfINwAZCazIQbGLeW5d1nYtBg==";</script>
}{
	<div class="span12">
	 <div  class="span2">&nbsp;</div>
     <div class="span8" id="player">
	<script type="text/javascript">
		jwplayer('player').setup({
			 'flashplayer': '@routes.Assets.at("javascripts/jwplayer/jwplayer.flash.swf")',
			    'id': 'playerID',
			    'width': '600',
			    'height': '480',
			    'file': 'rtmp://5.79.24.141:1935/oflaDemo/@stream',
			    'streamer': 'rtmp://5.79.24.141:1935/oflaDemo',
			    'controlbar' : 'bottom'
	  });
	</script>
	  </div>
	  <div class="span2">&nbsp;</div>
	  </div>
}